.microservice-explorer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.microservice-explorer .sidebar {
    flex: 1;
    padding: 1em;
}

.microservice-explorer .sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.microservice-explorer .content {
    flex: 5;
}

.microservice-explorer .endpoint-metadata {
    display: flex;
    flex-direction: row;
}

.microservice-explorer .endpoint-metadata .params {
    flex: 1;
    margin-right: 2em;
}

.microservice-explorer .endpoint-metadata .request {
    flex: 2;
    margin-right: 2em;
}

.microservice-explorer .endpoint-metadata .response {
    flex: 2;
}

.microservice-explorer .response-metadata {
    font-size: 0.8em;
}
.microservice-explorer .response-metadata h4 {
    margin: 0;
    margin-top: 1em;
    padding: 0;
}
.microservice-explorer .response-metadata p {
    margin: 0;
    padding: 0;
}
.microservice-explorer strong.status-2 {
    color: #690;
}
.microservice-explorer strong.status-3 {
    color: #069;
}
.microservice-explorer strong.status-4 {
    color: #f80;
}
.microservice-explorer strong.status-5 {
    color: #f30;
}
